/* 1. Apply HTML or CSS Layout to your website*/
/*      hopefully by this file and the html file existing I've shown this*/

body {
  /* 6.a Set the color of the text */
  background: rgb(64, 249, 255);
}

input {
  display: grid;
}

h1 {
  text-align: center;
}

#aFirstNameRequire {
  color: red;
  visibility: hidden;
}

#bLastNameRequire {
  color: red;
  visibility: hidden;
}

#cAddressRequire {
  color: red;
  visibility: hidden;
}

#dCityRequire {
  color: red;
  visibility: hidden;
}

#eStateRequire {
  color: red;
  visibility: hidden;
}

#fZipCodeRequire {
  color: red;
  visibility: hidden;
}

#gPhoneNumberRequire {
  color: red;
  visibility: hidden;
}

#gPersonalRequire {
  color: red;
  visibility: hidden;
}

#gBusinessRequire {
  color: red;
  visibility: hidden;
}

#hEmailAddressRequire {
  color: red;
  visibility: hidden;
}

#missingMessage {
  color: red;
  visibility: hidden;
}
